
html {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2 {
    color: #4b4b50;
    font-weight: 400;
}

h2 {
    line-height: 38.5px;
    margin: 0;
    text-decoration: none;
    font-size: 28px;
}

.header {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center
}
.header .blog-header {
    line-height: 38.5px;
    font-size: 28px;
    font-weight: 400;
}
.header .blog-header a {
    color: rgb(75, 75, 80);
    text-decoration: none
}
.header ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    margin-top: 40px
}
.header ol li {
    color: #5f5f69;
    line-height: 28.75px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    flex: 1;
    display: inline
}

.post-title {
    margin-bottom: 0.5rem;
}
.post-title,
.post-title a {
  color: #4b4b50;
}

.container {
  max-width: 960px;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

.category-list {
    list-style-type: none;
    float: right;
    margin: 0 auto;
}

.category-list li {
    background: #e6e6e1;
    padding: 2px 10px;
    display: inline;
    border-radius: 5px;
    margin-left: 8px;
}

.category-list li a {
    color: #4b4b50;
    margin: 0;
    font-size: 14px;
    font-weight: 400
}

/*.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px
}
.column,
.columns,
.container {
    width: 100%;
    box-sizing: border-box
}
.column,
.columns {
    float: left
}
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0
    }
}
@media (min-width: 550px) {
    .container {
        width: 80%
    }
    .column,
    .columns {
        margin-left: 4%
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%
    }
    .two.columns {
        width: 13.3333333333%
    }
    .three.columns {
        width: 22%
    }
    .four.columns {
        width: 30.6666666667%
    }
    .five.columns {
        width: 39.3333333333%
    }
    .six.columns {
        width: 48%
    }
    .seven.columns {
        width: 56.6666666667%
    }
    .eight.columns {
        width: 65.3333333333%
    }
    .nine.columns {
        width: 74%
    }
    .ten.columns {
        width: 82.6666666667%
    }
    .eleven.columns {
        width: 91.3333333333%
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0
    }
    .one-third.column {
        width: 30.6666666667%
    }
    .two-thirds.column {
        width: 65.3333333333%
    }
    .one-half.column {
        width: 48%
    }
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78%
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%
    }
}
html {
    font-size: 62.5%
}
body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Raleway, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #222
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300
}
h1 {
    font-size: 4rem;
    line-height: 1.2
}
h1,
h2 {
    letter-spacing: -.1rem
}
h2 {
    font-size: 3.6rem;
    line-height: 1.25
}
h3 {
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: -.1rem
}
h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem
}
h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem
}
h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0
}
@media (min-width: 550px) {
    h1 {
        font-size: 5rem
    }
    h2 {
        font-size: 4.2rem
    }
    h3 {
        font-size: 3.6rem
    }
    h4 {
        font-size: 3rem
    }
    h5 {
        font-size: 2.4rem
    }
    h6 {
        font-size: 1.5rem
    }
}
p {
    margin-top: 0
}
a {
    color: #1eaedb
}
a:hover {
    color: #0fa0ce
}
.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box
}
.button:focus,
.button:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
    color: #333;
    border-color: #888;
    outline: 0
}
.button.button-primary,
button.button-primary,
input[type=button].button-primary,
input[type=reset].button-primary,
input[type=submit].button-primary {
    color: #fff;
    background-color: #33c3f0;
    border-color: #33c3f0
}
.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type=button].button-primary:focus,
input[type=button].button-primary:hover,
input[type=reset].button-primary:focus,
input[type=reset].button-primary:hover,
input[type=submit].button-primary:focus,
input[type=submit].button-primary:hover {
    color: #fff;
    background-color: #1eaedb;
    border-color: #1eaedb
}
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    border: 1px solid #33c3f0;
    outline: 0
}
label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600
}
fieldset {
    padding: 0;
    border-width: 0
}
input[type=checkbox],
input[type=radio] {
    display: inline
}
label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400
}
ul {
    list-style: circle inside
}
ol {
    list-style: decimal inside
}
ol,
ul {
    padding-left: 0;
    margin-top: 0
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%
}
li {
    margin-bottom: 1rem
}
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px
}
pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}
td,
th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1
}
td:first-child,
th:first-child {
    padding-left: 0
}
td:last-child,
th:last-child {
    padding-right: 0
}
.button,
button {
    margin-bottom: 1rem
}
fieldset,
input,
select,
textarea {
    margin-bottom: 1.5rem
}
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
    margin-bottom: 2.5rem
}
.u-full-width {
    width: 100%;
    box-sizing: border-box
}
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box
}
.u-pull-right {
    float: right
}
.u-pull-left {
    float: left
}
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #e1e1e1
}
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both
}
body {
    overflow-x: hidden
}
#root,
body {
    margin: 0;
    padding: 0
}
#root {
    height: 100%;
    font-family: Open Sans;
    font-style: normal
}
.loader {
    position: fixed;
    height: 3px;
    width: 100%
}
.loader,
.loader .inner {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0
}
.loader .inner {
    position: absolute;
    width: 0;
    height: 100%;
    opacity: .5;
    background: #1eaedb
}
.loader .hide {
    height: 0%;
    transition: height .25s ease-out;
    transition-delay: .5s
}
hr {
    margin: 40px 0;
    opacity: .5
}
.post-header a {
    text-decoration: none
}
p {
    color: #5f5f69;
    line-height: 28.75px;
    margin: 0;
    font-size: 17px;
    font-weight: 400
}
h1 {
    line-height: 35px;
    margin: 20px 0;
    font-size: 34px
}
h1,
h2 {
    color: #4b4b50;
    font-weight: 400
}
h2 {
    line-height: 38.5px;
    margin: 0;
    text-decoration: none;
    font-size: 28px
}
.post .footer .cat-list li,
h3 {
    color: #4b4b50;
    margin: 0;
    font-size: 14px;
    font-weight: 400
}
.header {
    margin-top: 40px;
    text-align: center
}
.header .blog-header a {
    color: inherit;
    text-decoration: none
}
.header ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    margin-top: 40px
}
.header ol li {
    color: #5f5f69;
    line-height: 28.75px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    flex: 1;
    display: inline
}
.row {
    margin: 20px 0
}
.title {
    text-align: center
}
.post .thumbnail {
    display: block;
    position: relative
}
.post .thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin: 5px 0
}
.post .thumbnail:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, .5)
}
.post .content {
    margin-top: -50px;
    text-align: left;
    word-spacing: 3.5px
}
.post .content ul {
    margin: 40px;
    list-style-type: disc;
    list-style-position: inside
}
.post .content ul li {
    color: #4b4b50;
    font-size: 16px;
    font-weight: 400
}
.post .content code {
    display: block;
    margin: 50px auto
}
.post .content .gfy {
    position: relative;
    display: block;
    width: 85%;
    margin: 40px auto;
    text-align: center;
    padding: 0;
    padding-bottom: 48%
}
.post .content .gfy iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}
.post .content figure {
    display: block;
    width: 100%;
    margin: 20px auto;
    margin-top: 50px;
    padding: 0;
    text-align: center
}
.post .content figure img {
    width: 85%;
    margin: 0 auto;
    border: 1px solid #ccc
}
.post .content figcaption {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    color: #4b4b50
}
.post .content h1,
.post .content h2 {
    text-align: left;
    margin: 0;
    margin-top: 50px;
    margin-bottom: -5px
}
.post .content p {
    margin: 15px 0
}
.post .header {
    margin-bottom: 15px
}
.post .footer {
    margin-top: 35px
}
.post .footer .read-more {
    margin-top: 2px;
    float: left
}
.post .footer .categories {
    float: right
}
.post .footer .cat-list {
    list-style-type: none;
    float: right;
    margin: 0 auto
}
.post .footer .cat-list li {
    background: #e6e6e1;
    padding: 2px 10px;
    display: inline;
    border-radius: 5px;
    margin-left: 8px
}
.app-body {
    height: auto;
    min-height: calc(100vh - 120px);
    margin-bottom: 60px
}
.app-footer {
    background: #1e1e1e;
    width: 100%;
    height: 80px
}
.app-footer .content {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px
}
.app-footer .content .copy {
    margin-left: 20px;
    display: inline;
    float: left;
    font-size: 12px;
    color: #777;
    line-height: 25px
}
.app-footer .content .copy span {
    display: block;
    line-height: 20px
}
.app-footer .content .social {
    margin-top: 7px;
    margin-right: 20px;
    display: inline;
    float: right
}
.app-footer .content .social a {
    margin-left: 10px
}
.app-footer .content .social i {
    font-size: 25px;
    color: #777
}
.comments {
    margin-top: 20px;
    border: none;
    width: 100%;
    min-height: 100px
}*/