<div class="header">
  <h2 class="blog-header"><a href="/">{{ site.title }}</a></h2>
  <ol>
    <li><a {% if page.url == '/' %}class="active"{% endif %} href="/">blog</a></li>

  {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
  {% endcomment %}

  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
      <li><a {% if page.url == node.url %}class="active"{% endif %} href="{{ node.url }}">{{ node.title | downcase }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
    <li><a href="https://github.com/HandsomeMatt">github</a></li>
  </ol>
  <hr>
</div>